.autocomplete {
  position: relative;

  .autocomplete-query {
    background: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 3px;
    border: 1px solid #d0d0d0;
    width: 240px;
    transition: all ease-in 150ms;

    &.active {
      width: 400px;
    }

    .autocomplete-icon {
      display: flex;
    }

    .autocomplete-textbox {
      flex: 1;

      input[type='text'] {
        height: 30px;
        font-size: 10pt;
        border: 0;
      }
    }

    .autocomplete-status {
      margin-left: auto;
      color: #000;
      width: 20px;
    }
  }

  .autocomplete-results {
    position: absolute;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 400px;
    right: 0;
    top: 50px;

    .result-container {
      padding: 15px;
      font-size: 10pt;

      .result-title {

      }

      &.active {
        background: #007bff;
        color: #fff;
      }

      &:hover {
        cursor: pointer;
        background: #f0f0f0;
      }
    }

    .load-more {
      padding: 15px;
      text-align: center;
      color: #007bff;
      cursor: pointer;
      font-size: 10pt;
    }
  }
}