button {
  background: $ourBlue;
  color: #fff;
  margin: 2px 0;
  padding: 10px 20px;
  border-radius: 2px;
  border: 0;
  outline: none;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: filter 0.1s ease-in;
  font-family: Lato, Arial, sans-serif;

  &:hover {
    filter: brightness(1.25);
  }
}

button.action-btn {
  background: $ourBlue;

  &.cancel {
    background: #505050;
  }
}

button.outlined {
  background: transparent;
  border: 2px solid #000;
  color: #000;
}