@import 'font-awesome';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Lato, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: auto;
  padding: 40px 0;
}

.sidebar {
  background: #101010;
  position: absolute;
  height: 100%;
  left: 0;
  width: 240px;
}

.sidebar-create {
  padding: 20px;
  margin: auto;
  text-align: center;
}

.sidebar-create button {
  border-radius: 30px;
  width: 140px;
  padding: 10px 20px;
  font-size: 12pt;
  text-align: center;
  border: 0;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-item {
  color: #fff;
  padding: 10px 20px;
  font-size: 10pt;
}

.studio-container {
  margin-left: 240px;
}

.project-list {

}

.project-item {
  margin: 5px;
  padding: 20px;
  background: #eaeaea;
  display: flex;
  align-items: center;
  position: relative;
}

.project-item:hover {
  background: #e0e0e0;
  cursor: pointer;
}

.project-item__img img {
  max-width: 100px;
}

.project-item__img-container {
  display: flex;
  flex: 0 0 120px;
  align-items: center;
  width: 120px;
  height: 100px;
}

.project-item__name {
  font-size: 16pt;
  margin-bottom: 10px;
}

.project-item__desc {
  font-size: 10pt;
  color: #606060;
}

.project-item__ctx-anchor {
  background: #000;
  border-radius: 20px;
  height: 12px;
  width: 12px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
