.navbar {
    background: #101010;
    color: #fff;
}

.navbar__content {
    margin: auto 0px;
    display: flex;
}

.navbar__panel {
    margin-left: auto;
}

.logo {
    background: #0070f3;
    align-self: center;
    font-size: 18pt;
    color: #fff;
    width: 280px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: 300;
}

.push {
    flex: 1;
}