@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;200;300;400;500;600;700&display=swap');

$defaultFont: 'Anuphan', sans-serif;
$ourBlue: #0070f3;
$smallBoxShadow: 0px 2px 2px rgba(0,0,0,0.2);

$z-index-layer1: 100;
$z-index-layer2: 200;
$z-index-layer3: 300;
$z-index-sidebar: 400;
$z-index-toast: 500;
$z-index-overlay: 600;
$z-index-popover: 700;
$z-index-processing: 800;
$z-index-tooltip: 900;
